@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/Site.css")
<div class="jumbotron text-center">
    <h1>Pi Club</h1>
    <p>Providing you with everything you need for Raspberry Pi development</p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2>About Pi Club</h2>
            <h4>Loren ipsum</h4>
            <p>Loren ipsum</p>
            <button class="btn btn-default btn-lg">Frequently Asked Questions</button>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-pie-chart logo" aria-hidden="true"></i>
        </div>
    </div>   
</div>

<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-4">
            <i class="fa fa-terminal logo" aria-hidden="true"></i>

        </div>
        <div class="col-sm-8">
            <h2>What is Raspberry Pi?</h2>
            <h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4>
            <p><strong>VISION:</strong> Our vision Lorem ipsum..
        </div>
    </div>
</div>

<div class="container-fluid text-center">
    <h2>SERVICES</h2>
    <h4>What we offer</h4>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-off"></span>
            <h4>POWER</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-heart"></span>
            <h4>LOVE</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-lock"></span>
            <h4>JOB DONE</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-leaf"></span>
            <h4>GREEN</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-certificate"></span>
            <h4>CERTIFIED</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench"></span>
            <h4>HARD WORK</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
    </div>
</div>